*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    margin: 20px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 40%;
    padding: 10px;
    height: 40px;
    background-color: rgb(225, 225, 225);
    border: 0;
    border-radius: 5px;
    margin: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    color: black;
}

.search-btn{
    padding: 5px;
    border: none;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(46, 170, 46);
    cursor: pointer;
}

.search-results{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 15px 30px;
    width: calc(100% - 60px);
    max-width: 1200px;
    justify-content: center;
}

.search-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border-radius:10px;
    background-color:white;
}
.search-image{
    width: 100%;
    height: 85%;
    object-fit: cover;
    transition:opacity 0.2s ease-in-out;
}

.search-image:hover{
    opacity: 0.8;
}

.search-link{
    text-decoration: none;
    margin: 10px;
    text-transform: capitalize;
}

.show-more{
    text-align: center;
}
.show-more-btn{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    background-color:#008cba;
    border: none;
    border-radius: 5px;
    color: white;
}